/* Reset some default styles */
body, html, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


.navbar-2 {
  background-color: #333;

  width: 60px;
  display: block;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.brand {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 20px;
}

.sales-dropdown {
  padding: 5px;
  font-size: 1em;
}

.get-help, .notifications, .messages {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

.profile {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.profile-initials {
  background-color: #4CAF50;
  color: white;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}

.profile-name {
  color: white;
}

/* Main content styles */
.content {
  padding-top: 80px; /* Add padding to avoid overlap with the fixed header */
  text-align: center;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px; /* Adjust the margin as needed */
}

.logo {
  max-width: 100px;
  margin: 0 20px;
}

.city {
  font-size: 3em;
  margin-top: 20px;
  color: #FF0000;
}
