/* Reset some default styles */
body, html, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Main content styles */
.main-content {
  height: calc(100% - 64px);
  width: calc(100% - 64px);
}

.home-logo {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
}

.centre-logo {
  max-width: 500px;
}

/* New Side Bar CSS */

.root_globalMenu_base {
  left: 0;
  background: #fff;
  top: 0;
  display: flex;
  flex-direction: row;
}

*, ::before, ::after {
  box-sizing: border-box;
}

::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/* Common CSS Class */

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.d-flex {
  display: flex !important;
}

img {
  border-style: none;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

.cursor-pointer {
  cursor: pointer;
}

a, area, button, input, label, select, summary, textarea, [tabindex] {
  touch-action: manipulation;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.absolute {
  position: absolute !important;
}

.root_icon_size_xxl {
  font-size: 2.8rem;
}

.root_icon_size_xl {
  font-size: 2.2rem;
}

.root_icon_size_l {
  font-size: 1.8rem;
}

.root_icon_size_md {
  font-size: 1.2rem;
}

.root_icon_size_s {
  font-size: 0.8rem;
}

.root_avatar_defaultBackground {
  background-color: #dde4eb;
}

.root_ellipsis_lineClamp {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.root_ellipsis_ellipsis {
  overflow: hidden;
  display: inline-block;
  word-break: break-all;
  width: 100%;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'tekionicon_vr' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
